<div class="container">
    <div class="container bg-light border takeoff rounded">
        <div class="col-sm-12">
            <h3 class="text-center" style="color:black" ng-show="login">Login</h3>
            <h3 class="text-center" style="color:black" ng-hide="login">Cadastro</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="container">
                    <div class="input-group">
                        <div class="input-group-append" data-toggle="tooltip" data-placement="top"
                            title="Digite seu e-mail" tabindex="-1">
                            <button class="btn btn-default" style="border-radius: 10%"><i class="fa fa-envelope"
                                    style="font-size:11px"></i></button>
                        </div>
                        <input type="text" ng-model="user.usuario" data-toggle="tooltip" data-placement="top"
                            title="Digite seu e-mail" tabindex="0" class="form-control" placeholder="E-mail" autofocus>
                    </div>
                    <br>
                </div>
                 <div class="col-sm-12" ng-hide="login">
                    <div class="input-group">
                        <div class="input-group-append">
                            <button class="btn btn-default" style="border-radius: 10%" tabindex="2"
                                data-toggle="tooltip" data-placement="top" title="Digite seu CPF">
                                <i class="fa fa-user" style="font-size:17px"></i>
                            </button>
                        </div>
                        <input type="text" tabindex="0" class="form-control" ng-model="user.cpf"
                            placeholder="CPF" data-toggle="tooltip" data-placement="top" title="Digite seu cpf">
                    </div>
                    br
                </div>
                <div class="col-sm-12">
                    <div class="input-group">
                        <div class="input-group-append">
                            <button class="btn btn-default" style="border-radius: 10%" tabindex="2"
                                data-toggle="tooltip" data-placement="top" title="Digite sua senha">
                                <i class="fa fa-lock" style="font-size:17px"></i>
                            </button>
                        </div>
                        <input type="password" tabindex="0" class="form-control" ng-model="user.senha"
                            placeholder="Senha" data-toggle="tooltip" data-placement="top" title="Digite sua senha">
                    </div>
                </div>
                <br>
                <div class="col-sm-12">
                    <button tabindex="0" class="btn btn-block btn-primary" ng-class="definirCorBotao(user)" data-toggle="tooltip"
                        title="Clique para entrar" ng-click="login = false" data-placement="bottom">Cadastrar
                        <i class="fa fa-edit"></i>
                    </button>

                    <button tabindex="0" class="btn btn-block btn-success" ng-class="definirCorBotao(user)" data-toggle="tooltip"
                        title="Clique para entrar" ng-click="login = true" data-placement="bottom">Entrar
                        <i class="fa fa-sign-in"></i>
                    </button>
                    
                </div>
                <br>
         
            </div>
            <br>
        </div>
    </div>
</div>