<div class="card">
    <div class="card-header" ng-class="DefinirClasseProjeto(model)">
        <div class="input-group">
            <input type="text" ng-init="editar = false" ng-model="model.titulo" placeholder="Título do Projeto"
                ng-disabled="!editar" class="form-control btn">
            <div class="input-group-btn">
                <button class="btn btn-success" ng-show="e" ng-click="editar = !editar"><i
                        ng-class="{'fa fa-edit':!editar ,'fa fa-check': editar}"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <textarea class="form-control" ng-disabled="!editar">{{model.descricao}}</textarea>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-btn">
                        <a class="btn btn-default" ng-show="model.url" ng-href="http://{{model.url}}"><i
                                class="fa fa-link"></i></a>
                        <button class="btn btn-success" ng-hide="model.url || !e" ng-click="addurl = true">
                            Adicionar URL <i class="fa fa-link"></i>
                        </button>
                    </div>
                    <input type="text" placeholder="url externa" ng-model="model.url" ng-show="addurl && e"
                        class="form-control">
                    <div class="input-group-btn" ng-show="addurl && e">
                        <button class="btn btn-success" ng-click="addurl = false"><i class="fa fa-save"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 ">
                <div class="progress" style="height:30px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                        ng-class="DefinirClasseProjeto(model)" ng-click="AlterarStatus(model)" role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" style="width:75%;cursor:pointer; height: 30px"
                        aria-valuemax="100"> {{DefinirStatusProjeto(model)}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="input-group" ng-show="model.status == -1 && cad">
                        <input type="text" ng-model="model.feedback" placeholder="Feedback da rejeição"
                            ng-disabled="!editar" class="form-control">
                        <div class="input-group-btn">
                            <button class="btn btn-outline-success" ng-click="editar = !editar"><i
                                    ng-class="{'fa fa-edit':!editar ,'fa fa-check': editar}"></i></button>
                        </div>
                    </div>
                    <div ng-show="model.status == 1 && cad">
                        <label>Primeira Análise:</label>
                        <label class="btn btn-sm btn-success" ng-click="model.status = 2"><i
                                class="fa fa-check"></i></i>
                            Aprovar</label>
                        <label class="btn btn-sm btn-danger" ng-click="model.status = -1;editar = true"><i
                                class="fa fa-times"></i></i>
                            Reprovar</label>
                    </div>
                    <div ng-show="model.status == 3 && cad">
                        <label>Segunda Análise:</label>
                        <label class="btn btn-sm btn-success" ng-click="MarcarReuniao()"><i class="fa fa-check"></i></i>
                            Aprovar</label>
                        <label class="btn btn-sm btn-danger" ng-click="model.status = -1;editar = true"><i
                                class="fa fa-times"></i></i>
                            Reprovar</label>
                    </div>
                    <div ng-show="model.status == 4 && professor">
                        <label class="alert takeoff">Código de acesso projeto:
                            {{model.status + model.titulo + 2019}}</label>
                    </div>

                    <div ng-show="model.status == 4 && professor">
                        <label class="btn btn-sm btn-success" ng-click="model.status = 0"><i
                                class="fa fa-check"></i></i>
                            Finalizar</label>
                    </div>

                    <div ng-show="model.status == 4 && aluno">
                        <label class="btn btn-sm btn-success" ng-click="AdicionarGit(model)" ng-click="alunoColapse"><i
                                class="fa fa-plus"></i></i>
                            <i class="fa fa-git"></i></label>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</div>