<menu tipo="'a'"></menu>
<div class="container">
    <div id="accordion">
        <div class="card">
            <h5 class="mb-0 ">
                <button class="btn btn-block btn-success" data-toggle="collapse" data-target="#alunoJP"
                    aria-expanded="true" aria-controls="alunoJP">
                    Entrar em um projeto <i class="fa fa-sign-in"></i>
                </button>
            </h5>

            <div id="alunoJP" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="container">
                        <div class="container rounded">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <div class="input-append">
                                            <a class="text-center btn btn-outline-success"><i class="fa fa-barcode"></i></a>
                                        </div>
                                        <input type="text" placeholder="Código de Acesso" class="form-control btn-outline" name="e" id="e" ng-model="chaveProjeto">
                                        <div class="input-group-btn">
                                            <button class="btn btn-success">Entrar <i
                                                    class="fa fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>

                            <br>

                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="projetoSelecionado">
            <h5 class="mb-0 ">
                <button class="btn btn-block btn-success" data-toggle="collapse" data-target="#alunoCad"
                    aria-expanded="true" aria-controls="alunoCad">
                    Adicionar Código Fonte <i class="fa fa-plus"></i>
                </button>
            </h5>

            <div id="alunoCad" ng-class="{'collapse':!projetoSelecionado,'collapse show':projetoSelecionado}"
                aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" ng-show="projetoSelecionado">
                    <div class="container">
                        <div class="container rounded">
                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button class="btn btn-default" style="border-radius: 10%" tabindex="2"
                                                data-toggle="tooltip" data-placement="top" title="Url">
                                                <i class="fa fa-git"></i> *
                                            </button>
                                        </div>
                                        <input type="text" tabindex="0" class="form-control"
                                            ng-model="projetoSelecionado.aluno.git" placeholder="Link para o git"
                                            data-toggle="tooltip" data-placement="top" title="Digite uma url git">
                                    </div>
                                    <br>
                                </div>

                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button class="btn btn-default" style="border-radius: 10%" tabindex="2"
                                                data-toggle="tooltip" data-placement="top" title="Url">
                                                <i class="fa fa-link"></i>
                                            </button>
                                        </div>
                                        <input type="text" tabindex="0" class="form-control"
                                            ng-model="projetoSelecionado.aluno.deploy"
                                            placeholder="Link para o url deploy" data-toggle="tooltip"
                                            data-placement="top" title="Digite uma url deploy">
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-12" ng-hide="login">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button class="btn btn-default" style="border-radius: 10%" tabindex="2"
                                                data-toggle="tooltip" data-placement="top" title="Observação">
                                                <i class="fa fa-list"></i> *
                                            </button>
                                        </div>
                                        <textarea class="form-control" placeholder="Observação"
                                            ng-bind="projetoSelecionado.aluno.obs"
                                            ng-model="projetoSelecionado.aluno.obs">
                        </textarea>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-12">
                                    <button tabindex="0" ng-click="save(projetoSelecionado)"
                                        class="btn btn-block btn-success" data-toggle="tooltip" title="Salvar"
                                        data-placement="bottom">Salvar
                                        <i class="fa fa-save"></i>
                                    </button>

                                </div>
                                <br>

                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="mb-0">
                <button class="btn btn-primary btn-block collapsed" ng-click="projetoSelecionado = false">
                    Projetos
                    <i class="fa fa-users"></i>
                </button>
            </h5>
            <div id="alunoProj" ng-class="{'collapse':projetoSelecionado,'collapse show':!projetoSelecionado}"
                aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="container">
                            <label class="text-center alert alert-danger" ng-show="projetos.length == 0"> Nenhum projeto
                                encontrado <i class="fa fa-times"></i></label>
                            <input type="text" ng-show="projetos.length > 0" name="filtro" id="filtro"
                                class="form-control" placeholder="Buscar ...">
                        </div>

                        <div class="col-sm-4" ng-repeat="p in projetos |filter:filtro">
                            <projeto as="p" aluno="true"></projeto>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example" ng-show="projetos.length > 0">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="">Anterior</a></li>
                            <li class="page-item"><a class="page-link" href="">1</a></li>
                            <li class="page-item"><a class="page-link" href="">2</a></li>
                            <li class="page-item"><a class="page-link" href="">3</a></li>
                            <li class="page-item"><a class="page-link" href="">Próxima</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>

</div>
<rodape></rodape>